
                    <h3 style="text-align:center !important;"> Task 1 - Conversation level</h3>

<table id="extrinsictable" class="table-bordered" width="100%">
    <thead>
        <tr border="0">
            <th rowspan="2" style="width:20%;" class="tdcenter">
                Audio
            </th>
            <th colspan="2" style="width:40%;" class="tdcenter">
                Questions
            </th>

        </tr>
        <tr border="0">
		
            <td class="tdcenter" style="width:20%;">
                Politeness <br> of the agent
            </td>
            <td class="tdcenter" style="width:20%;">
                Efficiency <br> of the agent
            </td>

        </tr>
    </thead>
    <tr border="0">
        <td>
            &nbsp;
        </td>
        <td>
            <table border="0" width="100%">
                <tr>
                    <td class="tdcenter">
                        1
                    </td>
                    <td class="tdcenter">
                        2
                    </td>
                    <td class="tdcenter">
                        3
                    </td>
                    <td class="tdcenter">
                        4
                    </td>
                    <td class="tdcenter">
                        5
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table border="0" width="100%">
                <tr>
                    <td class="tdcenter">
                        1
                    </td>
                    <td class="tdcenter">
                        2
                    </td>
                    <td class="tdcenter">
                        3
                    </td>
                    <td class="tdcenter">
                        4
                    </td>
                    <td class="tdcenter">
                        5
                    </td>
                </tr>
            </table>
        </td>

    </tr>
    <tr border="0">
        <td>

        </td>
    </tr>

    <tr border="0">
        <td>
            <audio controls="" class="audio_transcription">
                                    <source type="audio/wav" src="/sensei/trs/LUNA/AUDIO/070300_0001.wav"></source>
                                    Your browser does not support the audio element.
                                </audio>
        </td>
        <td class="tdcenter">
            <table border="0" width="100%">
                <tr>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="1"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="2"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="3"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="4"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="5"></input>
                    </td>
                </tr>
            </table>
        </td>
        <td class="tdcenter">
            <table border="0" width="100%">
                <tr>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="1"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="2"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="3"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="4"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="5"></input>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr border="0">
        <td>
            <audio controls="" class="audio_transcription">
                                    <source type="audio/wav" src="/sensei/trs/LUNA/AUDIO/070300_0001.wav"></source>
                                    Your browser does not support the audio element.
                                </audio>
        </td>
        <td class="tdcenter">
            <table border="0" width="100%">
                <tr>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="1"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="2"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="3"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="4"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="5"></input>
                    </td>
                </tr>
            </table>
        </td>
        <td class="tdcenter">
            <table border="0" width="100%">
                <tr>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="1"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="2"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="3"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="4"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="5"></input>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr border="0">
        <td>
            <audio controls="" class="audio_transcription">
                                    <source type="audio/wav" src="/sensei/trs/LUNA/AUDIO/070300_0001.wav"></source>
                                    Your browser does not support the audio element.
                                </audio>
        </td>
        <td class="tdcenter">
            <table border="0" width="100%">
                <tr>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="1"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="2"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="3"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="4"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="5"></input>
                    </td>
                </tr>
            </table>
        </td>
        <td class="tdcenter">
            <table border="0" width="100%">
                <tr>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="1"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="2"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="3"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="4"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="5"></input>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
 <br />
                    <h3 style="text-align:center !important;"> Task 2 - Collection level</h3>
                    <table class="table-bordered" id="collectiontable" width="100%">
                        <tr>
                            <thead>
                            
                            <tr  border="0">
                                <td class="tdcenter" style="width:20%;">Proportion of <br>retrieved items</td>
                                <td class="tdcenter" style="width:20%;">Types of<br> lost items</td>
                              
                            </tr>
                        </thead>
                        </tr>
                        <tr>
                            <td class="tdcenter"><textarea id="scen1quest1coll"></textarea></td>
                            <td class="tdcenter"><textarea id="scen1quest1coll"></textarea></td>
                            
                        </tr>
                        <tr><td colspan="2">&nbsp;</td></tr>
                    </table>
					<p align="center" style="padding-top:30px;">
                        <button onclick="SaveEvaluation();" class="btn btn-lg btn-success" style="" id="" type="button">Salva</button>
                    </p>