<h3 style="text-align:center !important;"> Task 1 - Conversation level</h3>

<table id="extrinsictable" class="table-bordered" width="100%">
    <thead>
        <tr border="0">
            <th rowspan="2" style="width:20%;" class="tdcenter">
                Audio
            </th>
			<th rowspan="2" style="width:20%;" class="tdcenter">
                Synopsis
            </th>
            <th colspan="2" style="width:40%;" class="tdcenter">
                Questions
            </th>

        </tr>
        <tr border="0">

           <td class="tdcenter" style="width:20%;">
                Politeness <br> of the operator
            </td>
            <td class="tdcenter" style="width:20%;">
                Proactivity <br> of the operator
            </td>

        </tr>
    </thead>
    <tr border="0">
        <td>
            &nbsp;
        </td>
		<td>
            &nbsp;
        </td>
        <td>
            <table border="0" width="100%">
                <tr>
                    <td class="tdcenter">
                        1
                    </td>
                    <td class="tdcenter">
                        2
                    </td>
                    <td class="tdcenter">
                        3
                    </td>
                    <td class="tdcenter">
                        4
                    </td>
                    <td class="tdcenter">
                        5
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table border="0" width="100%">
                <tr>
                    <td class="tdcenter">
                        1
                    </td>
                    <td class="tdcenter">
                        2
                    </td>
                    <td class="tdcenter">
                        3
                    </td>
                    <td class="tdcenter">
                        4
                    </td>
                    <td class="tdcenter">
                        5
                    </td>
                </tr>
            </table>
        </td>

    </tr>
    <tr border="0">
        <td>

        </td>
    </tr>

    <tr border="0">
        <td>
            <audio controls="" class="audio_transcription">
                                    <source type="audio/wav" src="/sensei/trs/LUNA/AUDIO/070300_0001.wav"></source>
                                    Your browser does not support the audio element.
                                </audio>
        </td>
        <td>
            <textarea readonly rows="4" cols="30">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu consectetur lorem, eget venenatis diam. Suspendisse malesuada vel leo nec tincidunt. Sed est libero, aliquam non maximus id, rhoncus et ante. Duis pharetra ut orci eu tempus. Maecenas sit amet ligula tempor, blandit sem id, pharetra nisl. Aliquam a sagittis arcu. Integer tincidunt tortor non urna dapibus, bibendum sagittis velit feugiat. Aliquam fermentum ipsum quis purus finibus venenatis.

Morbi eu ullamcorper lorem. Donec in ex quis mauris pellentesque mattis. Praesent quis porttitor sem. Proin congue odio at ornare suscipit. Fusce ut lectus vel mauris sodales scelerisque. Nunc venenatis sed augue eget ullamcorper. Etiam varius pharetra malesuada. Morbi nec tincidunt nisl. Integer commodo vehicula mi, vel aliquet nibh efficitur sed. Proin feugiat leo orci, a ornare ligula porta eu. Phasellus suscipit erat nec justo hendrerit, vitae mattis lacus consectetur. Donec dignissim odio ac suscipit gravida. Praesent dolor arcu, varius quis ipsum sed, bibendum ultrices ipsum. Nulla euismod venenatis eros eget condimentum. Mauris vitae dolor fringilla, consectetur metus nec, vestibulum ligula. Integer tempor ultricies ex, in molestie nisi varius id.</textarea>
        </td>
        <td class="tdcenter">
            <table border="0" width="100%">
                <tr>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="1"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="2"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="3"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="4"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="5"></input>
                    </td>
                </tr>
            </table>
        </td>
        <td class="tdcenter">
            <table border="0" width="100%">
                <tr>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="1"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="2"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="3"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="4"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="5"></input>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr border="0">
        <td>
            <audio controls="" class="audio_transcription">
                                    <source type="audio/wav" src="/sensei/trs/LUNA/AUDIO/070300_0001.wav"></source>
                                    Your browser does not support the audio element.
                                </audio>
        </td>
        <td>
            <textarea readonly rows="4" cols="30">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu consectetur lorem, eget venenatis diam. Suspendisse malesuada vel leo nec tincidunt. Sed est libero, aliquam non maximus id, rhoncus et ante. Duis pharetra ut orci eu tempus. Maecenas sit amet ligula tempor, blandit sem id, pharetra nisl. Aliquam a sagittis arcu. Integer tincidunt tortor non urna dapibus, bibendum sagittis velit feugiat. Aliquam fermentum ipsum quis purus finibus venenatis.

Morbi eu ullamcorper lorem. Donec in ex quis mauris pellentesque mattis. Praesent quis porttitor sem. Proin congue odio at ornare suscipit. Fusce ut lectus vel mauris sodales scelerisque. Nunc venenatis sed augue eget ullamcorper. Etiam varius pharetra malesuada. Morbi nec tincidunt nisl. Integer commodo vehicula mi, vel aliquet nibh efficitur sed. Proin feugiat leo orci, a ornare ligula porta eu. Phasellus suscipit erat nec justo hendrerit, vitae mattis lacus consectetur. Donec dignissim odio ac suscipit gravida. Praesent dolor arcu, varius quis ipsum sed, bibendum ultrices ipsum. Nulla euismod venenatis eros eget condimentum. Mauris vitae dolor fringilla, consectetur metus nec, vestibulum ligula. Integer tempor ultricies ex, in molestie nisi varius id.</textarea>
        </td>
        <td class="tdcenter">
            <table border="0" width="100%">
                <tr>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="1"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="2"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="3"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="4"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="5"></input>
                    </td>
                </tr>
            </table>
        </td>
        <td class="tdcenter">
            <table border="0" width="100%">
                <tr>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="1"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="2"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="3"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="4"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="5"></input>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr border="0">
        <td>
            <audio controls="" class="audio_transcription">
                                    <source type="audio/wav" src="/sensei/trs/LUNA/AUDIO/070300_0001.wav"></source>
                                    Your browser does not support the audio element.
                                </audio>
        </td>
        <td>
            <textarea readonly rows="4" cols="30">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu consectetur lorem, eget venenatis diam. Suspendisse malesuada vel leo nec tincidunt. Sed est libero, aliquam non maximus id, rhoncus et ante. Duis pharetra ut orci eu tempus. Maecenas sit amet ligula tempor, blandit sem id, pharetra nisl. Aliquam a sagittis arcu. Integer tincidunt tortor non urna dapibus, bibendum sagittis velit feugiat. Aliquam fermentum ipsum quis purus finibus venenatis.

Morbi eu ullamcorper lorem. Donec in ex quis mauris pellentesque mattis. Praesent quis porttitor sem. Proin congue odio at ornare suscipit. Fusce ut lectus vel mauris sodales scelerisque. Nunc venenatis sed augue eget ullamcorper. Etiam varius pharetra malesuada. Morbi nec tincidunt nisl. Integer commodo vehicula mi, vel aliquet nibh efficitur sed. Proin feugiat leo orci, a ornare ligula porta eu. Phasellus suscipit erat nec justo hendrerit, vitae mattis lacus consectetur. Donec dignissim odio ac suscipit gravida. Praesent dolor arcu, varius quis ipsum sed, bibendum ultrices ipsum. Nulla euismod venenatis eros eget condimentum. Mauris vitae dolor fringilla, consectetur metus nec, vestibulum ligula. Integer tempor ultricies ex, in molestie nisi varius id.</textarea>
        </td>
        <td class="tdcenter">
            <table border="0" width="100%">
                <tr>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="1"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="2"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="3"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="4"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="5"></input>
                    </td>
                </tr>
            </table>
        </td>
        <td class="tdcenter">
            <table border="0" width="100%">
                <tr>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="1"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="2"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="3"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="4"></input>
                    </td>
                    <td class="tdcenter">
                        <input id="scen1quest1" type="radio" value="5"></input>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br />
<h3 style="text-align:center !important;"> Task 2 - Collection level</h3>
<table class="table-bordered" id="collectiontable" width="100%">
    <tr>
        <thead>

            <tr border="0">
                <td class="tdcenter" style="width:20%;">Proportion of problems <br>sent to a second level</td>
                                <td class="tdcenter" style="width:20%;">Source<br> of unresolved problems</td>

            </tr>
        </thead>
    </tr>
    <tr>
        <td class="tdcenter"><textarea id="scen1quest1coll"></textarea></td>
        <td class="tdcenter"><textarea id="scen1quest1coll"></textarea></td>

    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
</table>
<p align="center" style="padding-top:30px;">
                        <button onclick="SaveEvaluation();" class="btn btn-lg btn-success" style="" id="" type="button">Salva</button>
                    </p>