html, body, .container{
min-height: 100%;
height:100%;
}
.container.listen .pre-scrollable{
height:100%;
min-height:100%;
overflow-x: visible;
padding-left:0;
padding-right:0;
font-size: 90%;
}
.container.listen .pre-scrollable form, .container.listen .pre-scrollable table {
width: 100%;
max-width: 100%;
}


.error {color: #FF0000;}

#transcription-area .turn {
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	width: 90%;
}
#transcription-area .turn:nth-child(even) { /* figlio pari */
	background-color: #FFFF99;
	float: left;
	cursor: url('../img/dragdrop.png'),auto;
}
#transcription-area .turn:nth-child(odd) { /* figlio dispari */
	background-color: #33ADFF; 
	text-align: right;
	float: right;
	cursor: url('../img/dragdrop.png'),auto;
}
.audio_filename {
	margin-top: 10px;
	margin-bottom: 30px;
	background-color: #D9D9D9;
	padding: 5px;
	border: 1px solid grey;
}

.synopsis-tooltip {
    background-color: #d9d9d9;
    border: 1px solid grey;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 5px;
	display:none;
}
.audio_transcription {
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 5px;
}
.droppable { /* content dropped turn */
	border-color: #428bca; 
	background-color: #dbdbdb; 						
	font-size:xx-small;
	width: 100%;
	cursor: none;
	overflow:auto;
}		
.nodroppable { 
	border-style: none; 
	width: 0%;
	display:none;			
}		


.redtext{
	color: red;
}

.highlight {
    background-color: yellow;
}