.spk2 
{
position: relative;
width: 90%;
min-height: 32px;
padding:10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
//border: #6AFF4B solid 4px;
margin-bottom: 20px;
margin-left: 0px;
background-color: rgb(51, 173, 255);
}


.spk1 
{
position: relative;
width: 90%;
min-height: 32px;
padding:10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
//border: #6AFF4B solid 4px;
margin-bottom: 20px;
margin-left: 15px;
background-color: rgb(255, 255, 153);
}



.spk3 
{
position: relative;
width: 90%;
min-height: 32px;
padding:10px;

-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
//border: #6AFF4B solid 4px;
margin-bottom: 20px;
margin-left: 30px;
background-color: rgb(217, 217, 217);
}

a.chatlink {
    font-weight: bold;
    font-size: 15px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: rgb(238, 238, 238);
    text-decoration: none;
}

a.audiolink {
    font-weight: bold;
    font-size: 15px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: rgb(238, 238, 238);
    text-decoration: none;
}
