
/* This controls the width of the fluid width layouts */

div.fluid
{
width: 90% !important;
}

/* This controls the width of the fixed width layouts */

div.fixed
{
width: 950px !important;
}

/* Basic Stuff */

*
{
margin: 0em;
padding: 0em;
}

body
{
background-color: #fff;
color: #585858;
font-size: 9pt;
font-family: "trebuchet ms", helvetica, sans-serif;
min-height:100%;
}

h1,h2,h3,h4,h5,h6
{
font-weight: normal;
letter-spacing: -1px;
text-transform: lowercase;
}

h3,h4,h5,h6
{
color: #9A001C;
}

h1 span
{
font-weight: bold;
}

h2 span
{
font-weight: bold;
}

h3 span
{
font-weight: bold;
}

h4 span
{
font-weight: bold;
}

br.clear
{
clear: both;
}

img
{
padding: 0px;
border: solid 1px #e1e1e1;
}

img.floatTL
{
float: left;
margin-right: 1.5em;
margin-bottom: 1.5em;
margin-top: 0.5em;
}

a
{
text-decoration: underline;
color: #D90000;
}

a:hover
{
text-decoration: none;
}

ul.links
{
list-style: none;
}

ul.links li
{
line-height: 2em;
}

ul.links li.first
{
}

ul span
{
	font-weight: bold;
	color: #66000F;
}

p
{
line-height: 1.8em;
}

p span
{
font-weight: bold;
color: #9A001C;
}

/* Header */

#header
{
width:100%;
height:90px;
background: #440000 url('images/n1.gif') repeat-x;
}

#header_inner
{
position: relative;
width: 950px;
height:90px;
margin: 0 auto;
}

#dap
{
width:100%;
background: #ffffff url('images/SfondoTP_DAP.jpg');
background-position:top center;
background-repeat:no-repeat;
}

#gp
{
width:100%;
background: #ffffff url('images/SfondoTP_GP.jpg');
background-position:top center;
background-repeat:no-repeat;
}

/* Logo */

#logo
{
position: absolute;
bottom: 0.6em;
}

#logo h1
{
display: inline;
color: #fff;
font-size: 2.6em;
}

#logo h2
{
display: inline;
padding-left: 0.5em;
color: #E5CCD0;
font-size: 1.0em;
}

/* Menu */

#menu
{
position: absolute;
right: -5em;
bottom: 0em;
}

#menu ul
{
list-style: none;
}

#menu li
{
float: left;
}

#menu li a
{
margin-left: 0.5em;
display: block;
padding: 1.1em 1.4em 1.0em 1.4em;
background: #fff url('images/n4.gif') repeat-x;
border: solid 1px #fff;
color: #616161;
font-weight: bold;
font-size: 1.0em;
text-transform: lowercase;
text-decoration: none;
}

#menu li a.active
{
background: #CA2F2F url('images/n3.gif') repeat-x;
color: #fff;
border: solid 1px #A94B4B;
}

/* Main */

#main
{
background: #fff url('images/n2.gif') 0px 1px repeat-x;
}

#main_inner p
{
text-align: justify;
margin-bottom: 2.0em;
}
#main_inner .post a
{
text-decoration: underline;
color: #D90000;
}

#main_inner ul
{
margin-bottom: 2.0em;
}

#main_inner
{
position: relative;
width: 950px;
margin: 0 auto;
padding-top: 3.5em;
}

#main_inner h3,h4
{
border-bottom: dotted 1px #E1E1E1;
position: relative;
}

#main_inner h3
{
font-size: 2.1em;
padding-bottom: 0.1em;
margin-bottom: 0.8em;
}

#main_inner h4
{
font-size: 1.2em;
padding-bottom: 0.175em;
margin-bottom: 1.4em;
margin-top: 0.95em;
}

#main_inner .post
{
position: relative;
}

#main_inner .post h3
{
position: relative;
font-size: 1.7em;
padding-bottom: 1.2em;
}

#main_inner .post ul.post_info
{
list-style: none;
position: absolute;
top: 3em;
font-size: 0.8em;
}

#main_inner .post ul.post_info li
{
background-position: 0em 0.2em;
background-repeat: no-repeat;
display: inline;
padding-left: 18px;
}

#main_inner .post ul.post_info li.date
{
background-image: url('images/n5.gif');
}

#main_inner .post ul.post_info li.comments
{
background-image: url('images/n6.gif');
margin-left: 1.1em;
}

/* Footer */

#footer
{
width: 950px;
margin: 0 auto;
text-align: center;
clear: both;
border-top: dotted 1px #E1E1E1;
margin-top: 1.0em;
margin-bottom: 1.0em;
padding-top: 1.0em;
text-transform: lowercase;
}

/* Search */

input.button
{
background: #CA2F2F url('images/n3.gif') repeat-x;
color: #fff;
border: solid 1px #A94B4B;
font-weight: bold;
text-transform: lowercase;
font-size: 0.8em;
height: 2.0em;
}

input.text
{
border: solid 1px #CCCCCC;
font-size: 1.0em;
padding: 0.25em 0.25em 0.25em 0.25em;
}


textarea
{
border: solid 1px #CCCCCC;
font-size: 1.0em;
padding: 0.25em 0.25em 0.25em 0.25em;
font-family: "trebuchet ms", helvetica, sans-serif;
}


select
{
border: solid 1px #CCCCCC;
font-size: 1.0em;
padding: 0.25em 0.25em 0.25em 0.25em;
}

#required {
    border-left: 3px solid #ff0000;
    padding-left: 4px;
}


#search
{
position: relative;
width: 100%;
margin-bottom: 2.0em;
}

#search input.text
{
position: absolute;
top: 0em;
left: 0em;
width: 9.5em;
}

#search input.button
{
position: absolute;
top: 0em;
right: 0em;
min-width: 2.0em;
max-width: 2.5em;
}

/* LAYOUT - 3 COLUMNS */

	/* Primary content */
	
	#primaryContent_3columns
	{
	position: relative;
	margin-right: 34em;
	}
	
	#columnA_3columns
	{
	position: relative;
	float: left;
	width: 100%;
	margin-right: -34em;
	padding-right: 2em;
	}
	
	/* Secondary Content */
	
	#secondaryContent_3columns
	{
	float: right;
	}
	
	#columnB_3columns
	{
	width: 13.0em;
	float: left;
	padding: 0em 2em 0.5em 2em;
	border-left: dotted 1px #E1E1E1;
	}
	
	#columnC_3columns
	{
	width: 13.0em;
	float: left;
	padding: 0em 0em 0.5em 2em;
	border-left: dotted 1px #E1E1E1;
	}
	
/* LAYOUT - 2 COLUMNS */

	/* Primary content */
	
	#primaryContent_2columns
	{
	position: relative;
	margin-right: 17em;
	}
	
	#columnA_2columns
	{
	position: relative;
	float: left;
	width: 100%;
	margin-right: -17em;
	padding-right: 2em;
	
	}
	
	/* Secondary Content */
	
	#secondaryContent_2columns
	{
	float: right;
	
	}
	
	#columnC_2columns
	{
	
	width: 13.0em;
	float: left;
	padding: 0em 0em 0.5em 2em;
	border-left: dotted 1px #E1E1E1;
	}

/* LAYOUT - COLUMNLESS */

	/* Primary content */
	
	#primaryContent_columnless
	{
	position: relative;
	}
	
	#columnA_columnless
	{
	position: relative;
	width: 100%;
	}

/*FUMETTI*/
dl {
	font:normal 12px/15px Arial;
    position: relative;
    width: 350px;
}
dt {
    clear: both;
    float:left;
    width: 130px;
    padding: 4px 0 2px 0;
    text-align: left;
}
dd {
    float: left;
    width: 200px;
    margin: 0 0 8px 0;
    padding-left: 6px;
}
 
 
/* The hint to Hide and Show */
.hint {
   	display: none;
    position: absolute;
    right: 350px;
    width: 200px;
    margin-top: -4px;
    border: 1px solid #c93;
    padding: 10px 12px;
    /* to fix IE6, I can't just declare a background-color,
    I must do a bg image, too!  So I'm duplicating the pointer.gif
    image, and positioning it so that it doesn't show up
    within the box */
    background: #ffc url(pointer.gif) no-repeat -10px 5px;
}
 
/* The pointer image is hadded by using another span */
.hint .hint-pointer {
    position: absolute;
    left: -10px;
    top: 5px;
    width: 10px;
    height: 19px;
    background: url(pointer.gif) left top no-repeat;
}

.hint2 {
   	display: none;
    position: absolute;
    width: 200px;
    margin-top: -4px;
    border: 1px solid #c93;
    padding: 10px 12px;
    /* to fix IE6, I can't just declare a background-color,
    I must do a bg image, too!  So I'm duplicating the pointer.gif
    image, and positioning it so that it doesn't show up
    within the box */
    background: #ffc url(pointer.gif) no-repeat -10px 5px;
}

.hint2 .hint-pointer2 {
    position: absolute;
    left: -10px;
    top: 5px;
    width: 10px;
    height: 19px;
    background: url(pointer.gif) left top no-repeat;
}

.tittab {
		background: #CA2F2F url('images/n3.gif') repeat-x;
		color: #fff;
		border: solid 1px #A94B4B;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1.0em;
		height: 2.0em;
		BORDER-RIGHT: windowtext 0.5pt solid;
		PADDING-RIGHT: 2px;
		BORDER-TOP: windowtext 0.5pt solid;
		PADDING-LEFT: 2px;
		FONT-WEIGHT: bold;
		FONT-SIZE: 8pt;
		PADDING-BOTTOM: 2px;
		VERTICAL-ALIGN: top;
		BORDER-LEFT: windowtext 0.5pt solid;
		COLOR: white;
		PADDING-TOP: 2px;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		FONT-STYLE: normal;
		FONT-FAMILY: verdana, Arial, sans-serif;
		WHITE-SPACE: normal;
		TEXT-DECORATION: none
}	
.tdtab1
{
		background: #FFF0F0 repeat-x;
		color: #FFF0F0;
		border: solid 1px #FFF0F0;
		font-weight: bold;
		text-transform: lowercase;
		font-size: 1.0em;
		height: 2.0em;
		BORDER-RIGHT: windowtext 0.5pt solid;
		PADDING-RIGHT: 2px;
		BORDER-TOP: windowtext 0.5pt solid;
		PADDING-LEFT: 2px;
		FONT-WEIGHT: bold;
		FONT-SIZE: 8pt;
		PADDING-BOTTOM: 2px;
		VERTICAL-ALIGN: top;
		BORDER-LEFT: windowtext 0.5pt solid;
		COLOR: black;
		PADDING-TOP: 2px;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		FONT-STYLE: normal;
		FONT-FAMILY: verdana, Arial, sans-serif;
		WHITE-SPACE: normal;
		TEXT-DECORATION: none
}
.tdtab2
{
		background: #FFFFFF repeat-x;
		color: #FFFFFF;
		border: solid 1px #FFFFFF;
		font-weight: bold;
		text-transform: lowercase;
		font-size: 1.0em;
		height: 2.0em;
		BORDER-RIGHT: windowtext 0.5pt solid;
		PADDING-RIGHT: 2px;
		BORDER-TOP: windowtext 0.5pt solid;
		PADDING-LEFT: 2px;
		FONT-WEIGHT: bold;
		FONT-SIZE: 8pt;
		PADDING-BOTTOM: 2px;
		VERTICAL-ALIGN: top;
		BORDER-LEFT: windowtext 0.5pt solid;
		COLOR: black;
		PADDING-TOP: 2px;
		BORDER-BOTTOM: windowtext 0.5pt solid;
		FONT-STYLE: normal;
		FONT-FAMILY: verdana, Arial, sans-serif;
		WHITE-SPACE: normal;
		TEXT-DECORATION: none
}